<h1>Welcome to ${restaurantData.name}</h1>

<ul>
    <li>Name: ${restaurantData.name}</li>
    <li>Distance: ${restaurantData.distance} Miles Away</li>
    <li>Star Rating: ${restaurantData.stars} Stars</li>
    <li>Type of Food: ${restaurantData.category}</li>
    <li>Favorite Dish: ${restaurantData.favorite_dish}</li>
    <li>Does Takeout? ${restaurantData.does_takeout}</li>
    <li>Last Time You Visited: ${restaurantData.last_time_you_ate_there}</li>
</ul>

<h1>Reviews:</h1>
<br>
<ul>
    <li>Name: ${reviewerData.reviewer_name}</li>
    <li>Title: ${reviewData.title}</li>
    <li>Review: ${reviewData.review}</li>
</ul>


<h1>Add Review</h1>

<form action='/restaurants' method="POST">
    <label for="">
        Title
        <input type="text" name='title' placeholder='Title'>
    </label>
    <label for="">
        Review
        <input type="text" name='review' placeholder='Review'>
    </label>
    <button type="submit">Submit Review</button>
    
    </form>